<body onload="payWithPaystack()">
    <!-- <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
    window.onload=function(){
    payWithPaystack();
    };
    function payWithPaystack(){
    var handler = PaystackPop.setup({
    key: 'pk_test goes here',
    email:'{{email}}',
    amount:'{{amount}}00',
    currency: "NGN",
    metadata: {
    custom_fields: [
    {
    display_name: "Mobile Number",
    variable_name: "mobile_number",
    value: "{{phone}}"
    }
    ]
    },
    callback: function(response){
    alert('success. transaction ref is ' + response.reference);
    },
    onClose: function(){
    alert('window closed');
    }
    });
    handler.openIframe();
    }
    </script> -->

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
     // Add an event listener for when the user clicks the submit button to pay
       document.getElementById("submit").addEventListener("click", (e) => {
         e.preventDefault();
         const PBFKey = "FLWPUBK_TEST-5d7a3aa9000594cbc0eee175b520e6b6-X"; // paste in the public key from your dashboard here
         const txRef = ''+Math.floor((Math.random() * 1000000000) + 1); //Generate a random id for the transaction reference
         const email = document.getElementById('email').value;
         const amount= document.getElementById('amount').innerHTML;
         var fullname= document.getElementById('full_name').value;
         var address1= document.getElementById('address_1').value;
         var address2= document.getElementById('address_2').value;
         var country= document.getElementById('country').value;
         var state= document.getElementById('state').value;
         var address1= document.getElementById('zipcode').value;
         
   
       //   console.log(amount, 'okayyyf')
         
         
        
   
         // getpaidSetup is Rave's inline script function. it holds the payment data to pass to Rave.
     getpaidSetup({
         PBFPubKey: PBFKey,
         customer_email: email,
         amount:{{  amount }},
         currency: "NGN",  // Select the currency. leaving it empty defaults to NGN
         txref: txRef, // Pass your UNIQUE TRANSACTION REFERENCE HERE.
     
         onclose: function() {},
         callback: function(response) {
             flw_ref = response.tx.flwRef;// collect flwRef returned and pass to a server page to complete status check.
             console.log("This is the response returned after a charge", response);
             if(response.tx.chargeResponse =='00' || response.tx.chargeResponse == '0') {
             // redirect to a success page
             } else {
             // redirect to a failure page.
             }
         }
       });
     });
   });
   </script>
   <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script> 
    </body>

