{%  extends 'base.html' %}
{%  load static  %}


{%  block body  %}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%  url 'index:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Product</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">Default</li> -->
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

           
            <div class="page-content" style="background-color: #f3f3f3; padding-top: 70px; padding-bottom: 80px;">
                <div class="container-fluid">

                    <div class="products" style="height: auto !important;">
                        <div class="row">
                            {% for product in items %}
                            <div class="col-12 col-md-4 col-lg-3 ">
                                <div class="product" >
                                    <figure class="product-media">
                                        <!-- <span class="product-label label-new">New</span> -->
                                        <a href="{%  url 'index:addcart' product.id %}">
                                            <img src="{{  product.image.url  }}" alt="Product image object-cover" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="{%  url 'index:addwish' product.id %}" class="btn-product-icon btn-wishlist btn-expandable">
                                                <span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action action-icon-top">
                                            <a href="{%  url 'index:addcart' product.id %}" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <!-- <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a> -->
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body" style="background-color: #4A8F30;">
                                        <div class="product-cat text-white mb-1">
                                            <a href="#" class="text-muted text-white" style="color:#f3f3f3 !important;">{{  product.category }}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title text-white"><a href="{%  url 'index:addcart' product.id %}">{{  product.name }}</a></h3><!-- End .product-title -->
                                        <div class="product-price text-white">
                                            ₦{{ product.price|floatformat:2 }}
                                        </div>
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            {% endfor %}
                        </div><!-- End .row -->
                    </div><!-- End .products -->

                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->

                    
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{%  endblock %}