{%  extends 'base.html' %}
{%  load static  %}


{%  block body  %}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%  url 'index:home' %}">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">Products</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Project</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <section class="pt-5 pb-5" style="background-color: #f3f3f3;">
                    <div class="container pt-3">
                        <div class="tab-content">
                            <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
                                aria-labelledby="top-all-link">
                                <div class="products">
                                    <div class="row justify-content-center">
                                        {% for product in project %}
                                        <div class="col-12 col-md-4 col-lg-4 col-xl-12col">
                                            <div class="product product-11 text-center card02">
                                                <figure class="product-media">
                                                    <a href="javascript:void()">
                                                        <img src="{{  product.image.url  }}" alt="Product image" style="height: 300px;" class="product-image object-cover">
                                                        <!-- <img src="{{  product.image.url  }}"
                                                            alt="Product image" class="product-image-hover"> -->
                                                    </a>
                                                </figure><!-- End .product-media -->
    
                                                <div class="p-5">
                                                    <h3 class="product-title">{{  product.name }}</h3>
                                                    <!-- End .product-title ---->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                        {% endfor %}

                                    </div><!-- End .row -->
                                </div><!-- End .products -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .container -->
               </section>
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{%  endblock %}