{%  extends 'base.html'  %}
{%  load static  %}

{%  block  body %}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ 'index:home' }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Stock Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
                            {%  for i in wish  %}
							<tr>
								<td class="product-col">
									<div class="product">
                                        
										<figure class="product-media">
                                            
											<a href="#">
												<img src="{{  i.product.imageURL  }}" alt="Product image">
											</a>
                                            
										</figure>

										<h3 class="product-title">
											<a href="#">{{  i.product.name  }}</a>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
								<td class="price-col">{{ i.product.price }}</td>
								<!-- <td class="stock-col"><span class="in-stock">In stock</span></td> -->
								<td class="action-col">
									<a href="{%  url 'index:addcart' i.product.id %}" class="btn btn-block btn-outline-primary-2">
										<i class="icon-cart-plus"></i>Add to Cart</a>
									<!-- <button ></button>` -->
								</td>
								<td class="remove-col"><button class="btn-remove"><a href="{%  url 'index:deletewish' i.id %}">
									<i class="icon-close"></i></a></button></td>
							</tr>
							{% endfor  %}
						</tbody>
					</table><!-- End .table table-wishlist -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {%  endblock %}